<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>View</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Blue</string>
				<string>Cyan</string>
				<string>Red</string>
				<string>Orange</string>
			</array>
			<key>Values</key>
			<array>
				<string>Blue</string>
				<string>Cyan</string>
				<string>Red</string>
				<string>Orange</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Color theme</string>
			<key>Key</key>
			<string>color_theme</string>
			<key>DefaultValue</key>
			<string>Blue</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Playback</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>native_video_player_enabled</string>
			<key>Title</key>
			<string>Native video player</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
